.big-privacy__title {
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 720px) {
  .big-privacy__title {
    font-size: 40px;
    text-align: center;
  }
}

.big-privacy__description {
  text-align: center;
  margin-bottom: 40px;
}

.big-privacy__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 80px 0px;
  background-color: #ecf3f8;
  border-radius: 36px;
  justify-content: center;
  align-items: center;
}

.big-privacy__item {
  width: 530px;
  display: flex;
  height: 140px;
  gap: 20px;
}

@media (max-width: 960px) {
  .big-privacy__item {
    display: flex;
    gap: 50px;
    max-width: 360px;
  }
}

.big-privacy__list-title {
  margin-bottom: 20px;
}

@media (max-width: 960px) {
  .big-privacy__list-title {
    font-size: 18px;
  }

}


.big-privacy__list-desc {
  font-size: 24px;
  font-weight: 500;
  color: #001767;
}

@media (max-width: 960px) {
  .big-privacy__list-desc {
    font-size: 18px;
  }
}

.big-privacy__button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
