.vpn {
  background-color: #0756cc;
  background-image: url("/images/vpn/vpn-hero-top-bg.png"), url("/images/vpn/vpn-hero-bottom-bg.png");
  background-size: 600px, 1500px;
  background-repeat: no-repeat;
  background-position: top left, bottom;
  border-radius: 20px;
}

.vpn--bg-image-wrapper {
  padding: 20px;
}

.vpn-header {
  text-align: center;
  font-size: 250px;
  font-weight: 800;
}


.vpn__paragraph {
  color: #ffffff;
}


.vpn__buttons-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 35px;
}


.vpn__hero-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vpn__hero-image--1st {
  margin-top: 135px;
}


.vpn__hero-image--2nd {
  margin-top: 50px;
}

@media (max-width: 960px) {
  .vpn-header {
    font-size: 190px;
  }

  .vpn__image-item {
    width: 280px;
  }
}


@media (max-width: 720px) {
  .vpn {
    background-size: 400px, 1000px;
  }

  .vpn-header {
    font-size: 160px;
  }

  .vpn__hero-image--1st {
    display: none;
  }
}

.vpn-header {
  font-size: 140px;
}



@media (max-width: 370px) {
  .vpn {
    background-size: 200px, 500px;
  }
  .vpn__hero-image--1st {
    display: none;
  }

  .vpn-header {
    font-size: 64px;
  }
  .vpn__buttons-wrapper{
    flex-direction: column;
  }
  .vpn__hero-image--3rd{
    display: none;
  }
}
