body {
  background-image: url("/images/hero/hero-bg-big.svg");
  background-position: top 690px left 100px;
  background-repeat: no-repeat;
}

@media (max-width: 680px) {
  body {
    background-image: none;
  }
}

.hero {
  position: relative;
  z-index: 0;
}

.hero__bg-wrapper {
  background-color: #0756cc;
  background-image: url("/images/hero/hero-main-bg.png");
  background-position: top 720px left 950px;
  background-repeat: no-repeat;
  border-radius: 36px;
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

@media (max-width: 680px) {
  .hero__bg-wrapper {
    background-image: none;
  }
}

.hero-wrapper {
  border-radius: 36px;
  position: relative;
  z-index: 2;
}

.hero-text-wrapper {
  padding: 60px 150px 0 40px;
}

.hero-header {
  font-size: 96px;
  font-weight: 900;
  line-height: 1.4;
}

.hero-header--white {
  color: #fff;
}

.hero-header--blue {
  color: #74dbfb;
}

.hero-header--bottom {
  margin-bottom: 125px;
}

.button-icons-wrapper {
  display: flex;
  gap: 40px;
}

.hero-button {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  color: #ffffff;
  background-color: #001767;
  border-radius: 20px;
  padding: 15px 40px;
  border: none;
}

.hero-social-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero-social-item {
  max-width: 50px;
}

.hero-social-icon {
  width: 100%;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.hero-image {
  max-width: 100%;
  height: auto;
}

@media (max-width: 968px) {
  .hero-text-wrapper {
    padding: 40px 40px 0 20px;
  }

  .hero-header {
    font-size: 78px;
  }

  .hero-button {
    font-size: 24px;
    padding: 10px 30px;
  }

  .hero-image {
    width: 100%;
  }

  .hero-image-container {
    width: 100%;
    display: block;
  }
}

@media (max-width: 768px) {
  .hero-header{
    font-size: 36px;
  }
  .hero-header:last-of-type {
    margin-bottom: 20px;
  }
  .button-icons-wrapper{
    display: flex;
    flex-direction: column;
  }
}
