@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pangram', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../public/images/hero/hero-bg-big.svg");
  background-repeat: no-repeat;
  background-position: 130px 550px;
}

.container-full {
  width: 1410px;
  margin: 0 auto;
}

.description {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  color: #001767;
}

.list-subtitle {
  font-size: 32px;
  font-weight: 700;
  color: #001767;
}


.subheading {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
  color: #001767;
}

.button {
  background-color: #0756cc;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  margin-bottom: 65px;
  cursor: pointer;
}

