
@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pangram', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-full {
  width: 1410px;
  margin: 0 auto;
}
