@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Pangram';
  src: url('/fonts/Pangram-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Pangram', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../public/images/hero/hero-bg-big.svg");
  background-repeat: no-repeat;
  background-position: 130px 550px;
}

.container-full {
  width: 1410px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .container-full {
    width: 100%;
    padding: 0 20px;
  }
}

@media (max-width: 720px) {
  .container-full {
    width: 100%;
    padding: 0 20px;
  }
}

.description {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  color: #001767;
}

@media (max-width: 960px) {
  .description {
    font-size: 24px;
  }
}

@media (max-width: 720px) {
  .description {
    font-size: 18px;
  }
}

.list-subtitle {
  font-size: 32px;
  font-weight: 700;
  color: #001767;
}

.subheading {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.2;
  color: #001767;
}

@media (max-width: 960px) {
  .subheading {
    font-size: 40px;
  }
}

.button {
  background-color: #0756cc;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  margin-bottom: 65px;
  cursor: pointer;
}

.hero-header {
  font-size: 96px;
  font-weight: 900;
  line-height: 1.4;
}

.hero-header--white {
  color: #fff;
}

.hero-header--blue {
  color: #74dbfb;
}

.hero-header--bottom {
  margin-bottom: 125px;
}

.button-icons-wrapper {
  display: flex;
  gap: 40px;
}

.hero-button {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.4;
  color: #ffffff;
  background-color: #001767;
  border-radius: 20px;
  padding: 15px 40px;
  border: none;
}

.hero-social-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero-social-item {
  max-width: 50px;
}

.hero-social-icon {
  width: 100%;
}

.list-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  color: #001767;
}
