.advantages {
  padding: 150px 0;
}

@media (max-width: 720px) {
  .advantages {
    padding: 0;
  }

}

.activity-section {
  padding-bottom: 50px;
}

.activity-wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
}

.pain-ads {
  display: flex;
  gap: 65px;
  align-items: center;
}

.pain-ads-text {
  padding-left: 90px;
}

.advantages__title,
.activity-section__title {
  margin-bottom: 30px;
}

.advantages__button {
  margin-top: 25px;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.advantages-list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
  color: #001767;
}

.advantages__list-item {
  list-style-type: none;
}

@media (max-width: 960px) {
  .activity-wrapper img,
  .pain-ads img {
    width: 400px;
    height: 550px;
  }

  .text-wrapper {
    min-width: auto;
  }

  .pain-ads-text {
    padding-left: 0;
  }

  .advantages__text-wrapper {
    max-height: 700px;
    overflow-y: auto;
    max-width: 360px;
  }

  .advantages__title {
    margin-bottom: 20px;
    max-width: 360px;
  }

  .advantages__button {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .advantages-list {
    max-width: 360px;
  }

  .pain-ads {
    display: flex;
    gap: 100px;
  }
}

@media (max-width: 720px) {
  .activity-wrapper,
  .pain-ads {
    flex-direction: column;
    align-items: center;
  }

  .activity-wrapper .subheading,
  .pain-ads .subheading {
    order: -2;
  }

  .activity-wrapper img,
  .pain-ads img {
    order: 0;
    margin-bottom: 20px;
  }

  .activity-wrapper .advantages__text-wrapper,
  .pain-ads .advantages__text-wrapper {
    order: 1;
    display: block;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .activity-wrapper img {
    width: 300px;
    order: 1;
  }

  .pain-ads img {
    width: 300px;
  }

  .advantages__title {
    order: -1;
  }

  .advantages-list {
    min-height: 400px;
    overflow-y: hidden;
  }
  .advantages__list-item{
    font-size: 18px;
  }

  .advantages__text-wrapper {
    overflow-y: hidden;
  }
}
