.vpn-more {
  background-image: url("/images/vpn/much-more-left-bg.png"), url("/images/vpn/much-more-right-bg.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 140px, 435px;
  background-position: top 250px left 120px, top 290px right 150px;
  padding-top: 75px;
  padding-bottom: 200px;
}

.vpn__subheading {
  text-align: center;
  margin-bottom: 90px;
}

.vpn-more__list-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.vpn-more__list {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vpn-more__list-item {
  min-height: 585px;
  width: 420px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.vpn-more__list-item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.vpn-more__list--lower {
  position: relative;
  top: 120px;
}

.vpn-more__list-item--blue {
  background-color: #ecf3f8;
  padding-top: 85px;
  padding-right: 20px;
  padding-left: 20px;
}

.vpn-more__description-heading {
  text-align: left;
  margin-bottom: 15px;
  font-weight: 700;
}

.vpn-more__description--gap {
  margin-bottom: 40px;
}

.vpn-more__list-item--yellow {
  background-color: #ffef18;
  padding: 30px;
}

.vpn-more__list-item--light-blue {
  background-color: #ecf3f8;
  padding: 30px;
}

.vpn-more__list-item--purple {
  background-color: #ffdbe9;
  padding: 30px;
}

.vpn-more__description-heading--center {
  text-align: center;
}

.vpn-more__list-item--blue {
  background-color: #b0edfc;
  padding-top: 85px;
  padding-right: 20px;
  padding-left: 20px;
}

.vpn-more__list-item--light-green {
  background-color: #cef976;
  padding: 30px;
}

.vpn-more__list-item--connection {
  background-color: #ecf3f8;
  padding: 30px;
}

@media (max-width: 720px) {
  .vpn-more {
    padding-bottom: 500px;
  }

  .vpn-more__list {
    width: 90%;
  }

  .vpn-more__list-item {
    width: 100%;
  }

  .vpn-more__list-item-img {
    width: 99%;
    height: 80%;
  }
}

@media (max-width: 480px) {
  .vpn-more__list-wrapper {
    display: flex;
    flex-direction: column;
  }

}
