
.testimonials {
  padding-top: 135px;
  padding-bottom: 450px;
}


.testimonials__title {
  text-align: center;
  margin-bottom: 60px;
}


@media (max-width: 720px) {
  .testimonials__title {
    position: relative;
    left: 20%;
    max-width: 600px;
  }
}

.testimonials__wrapper {
  display: flex;
  align-items: center;
  gap: 180px;
}

.testimonials__reviews-wrapper {
  width: 600px;
}

@media (max-width: 960px) {
  .testimonials__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    width: 100%;
  }

}

@media (max-width: 720px) {
  .testimonials__wrapper {
    max-width: 920px;
  }

  .testimonials__reviews-wrapper {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .testimonials__title {
    position: relative;
    left: 0;
  }

  .testimonials__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.testimonials__apple-store-badge {
  background-image: url("/images/testimonials/apple-card-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  padding: 10px;
  background-color: #74dbfb;
  border-radius: 10px;
  margin-bottom: 50px;
}

.testimonials__apple-number-wrapper {
  display: flex;
  justify-content: space-between;
}

.testimonials__average {
  font-size: 196px;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 960px) {
  .testimonials__average {
    font-size: 120px;
  }
}

.testimonials__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonials__review-button {
  width: 100%;
  background-color: #001767;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  border: none;
  border-radius: 10px;
}

.testimonials__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.testimonials__item-text {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  color: #001767;
}

@media (max-width: 960px) {
  .testimonials__item-text {
    font-size: 24px;
  }
}

.testimonnials__item-name {
  color: #0756cc;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}

.testimonials__google-play {
  position: relative;
  top: 180px;
}

.testimonials__google-play-badge {
  background-image: url("/images/testimonials/playstore-card-bg.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding: 10px;
  border-radius: 10px;
  background-size: cover;
  background-color: #00630b;
  margin-bottom: 50px;
}

.testimonials__playmarket-number-wrapper {
  display: flex;
  justify-content: space-between;
}


